/* General Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    padding: 16px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .title {
    margin-left: 10px;
    font-size: 32px;
    color: #333;
    font-weight: 500;
    word-break: break-word;
  }
  
  .subHeader {
    font-size: 3.5vw; /* Responsive font size */
    color: #555;
    margin-bottom: 20px;
    font-weight: 900;
    word-break: break-word;
    margin-top: -40px;
  }
  
  .description {
    font-size: 1.2rem;
    color: #666;
    max-width: 600px;
    line-height: 1.5;
    font-weight: 900;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .logoContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .circle {
      margin: 0 auto 10px;
    }
  
    .title {
      margin-left: 0;
      font-size: 24px;
    }
  
    .subHeader {
      font-size: 6vw;
    }
  
    .description {
      font-size: 1rem;
      padding: 0 10px;
    }
  }
  
  @media (max-width: 480px) {
    .subHeader {
      font-size: 5vw;
    }
  
    .description {
      font-size: 0.9rem;
    }
  }
  